<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-Mapper.dtd">
<mapper namespace="com.wong.base">
	<select id="getDataRecord" resultType="dataRecord">
		SELECT * FROM ${tableName} t
		where 1 = 1
		and ${primaryKey} = #{primaryKeyValue}
	</select>
	
	<select id="getTableList" resultType="dataRecord">
		SELECT * FROM ${tableName} t
		where 1 = 1
		<if test="parameters != null">
			<foreach collection="parameters" index="key"  item="value" separator=" and " >
	        	${key} = #{value}
		    </foreach>
		</if>
	</select>
	
	<select id="getCount" resultType="java.lang.Long">
		SELECT count(0) FROM ${tableName} t where 1 = 1
		<if test="parameters != null">
			and 
			<foreach collection="parameters" index="key"  item="value" separator=" and " >
	        	${key} = #{value} 
		    </foreach>
		</if>
	</select>
	
	<delete id="delete" parameterType="Map">
		delete from ${tableName} WHERE ${primaryKey} = #{primaryKeyValue}
	</delete>
	
	<delete id="deleteByIds" parameterType="Map">
		delete from ${tableName} WHERE ${primaryKey} in (${primaryKeyValues})
	</delete>
	
	<delete id="deleteByParam" parameterType="Map">
		<if test="parameters != null and tableName!=null and tableName != '' ">
			delete from ${tableName} WHERE 1 = 1
			<if test="parameters != null">
				and 
				<foreach collection="parameters" index="key"  item="value" separator=" and " >
		        	${key} = #{value} 
			    </foreach>
			</if>
	    </if>
	</delete>
	
	<update id="update" parameterType="Map">
		update ${tableName} SET ${values} <if test="where != null and where != ''"> where ${where} </if> 
	</update>
	
	<insert id="insert" parameterType="Map">
		insert into ${tableName}(${columns}) values(${values})
	</insert>
	
	<insert id="insertList" parameterType="Map">
		insert into ${tableName}(${columns})
		<if test="list != null">
			<foreach collection="list" item="item" separator=" union ">
				select ${items} from dual
			</foreach>
		</if>
	</insert>
</mapper>